@model IEnumerable<_1911066165_DangPhuocKhoa_BigSchool.Models.Course>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Mine</h2>
<ul class="course">
    @foreach (var course in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @course.DateTime.ToString("dd-MM")
                    <small> @course.DateTime.ToString("yyyy")</small>
                </div>
                <div class="day">
                    <small>@course.DateTime.ToString("HH:mm")</small>
                </div>
            </div>
            <div class="details">
                <span class="lecturer">
                    @course.Lecturer.Name

                </span>
                <span class="category">
                    @course.Category.Name
                </span>
            </div>
            <div class="action">
                <a href="@Url.Action("Edit","Courses",new { id = course.Id })">Edit</a>|
                <a href="#" class="js-cancel-course" data-course-id="@course.Id">Cancel</a>
               
            </div>
        </li>

    }
</ul>
@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-cancel-course").click(function (e) {
                var link = $(e.target);
                bootbox.confirm("Are you sure to cancel?",
                    function () {
                        $.ajax({
                            type: 'DELETE',
                            url: "/Courses/Delete/" + link.attr("data-course-id"),
                            method: "DELETE"
                        })
                            .done(function () {
                                link.parents("li").fadeOut(function () {
                                    $(this).remove();
                                });
                            })
                            .fail(function () {
                                alert("Something Failed!");
                            });
                    });
            });
        });
    </script>
}