@model _1911066165_DangPhuocKhoa_BigSchool.ViewModels.CourseViewModel
@using Microsoft.AspNet.Identity;
@using _1911066165_DangPhuocKhoa_BigSchool.Models;
@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<ul class="course">
    @foreach (var course in Model.UpcomingCourse)
    {
    <li>
        <div class="date">
            <div class="month">
                @course.DateTime.ToString("dd-MM")
                <small> @course.DateTime.ToString("yyyy")</small>
            </div>
            <div class="day">
                <small>@course.DateTime.ToString("HH:mm")</small>
            </div>
        </div>
        <div class="details">
            <span class="lecturer">
                @course.Lecturer.Name
                @if (Model.ShowAction)
                {
                    var User_ID = User.Identity.GetUserId();
                    ApplicationDbContext _dbContext = new ApplicationDbContext();
                    bool isFollowing = _dbContext.Followings.Any(f => f.FolloweeId == course.LecturerId && f.FollowerId == User_ID);
                    if (isFollowing)
                    {
                        <button class="btn btn-info btn-sm js-toggle-follow" data-user-id="@course.LecturerId">
                            Following
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerId">
                            Follow
                        </button>
                    }
                }
            </span>
            <span class="category">
                @course.Category.Name
            </span>
            @if (Model.ShowAction)
            {
                var useID = User.Identity.GetUserId();
                ApplicationDbContext _dbContext = new ApplicationDbContext();
                bool isGoing = _dbContext.Attendances.Any(a => a.CourseId == course.Id && a.AttendeeId == useID);
                <div>
                    @if (!isGoing)
                    {
                        <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Going?</button>
                    }
                    else
                    {
                <span class="text-danger"> Đã tham gia &#9989;</span>
                    }
                </div>
            }

</li>
    }
</ul>
@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                    .done(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function () {
                        alert("Something faied !");
                    });
            });

            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("following");
                    })
                    .fail(function () {
                        alert("Something failed !");
                    });
            });
        });
    </script>
}